<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudStore</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="1.jpg" alt="Cloud Storage Icon">
        </div>
        
        <h1>CloudSphere</h1>
        <form class="login-form">
            <input type="email" placeholder="Enter your email" required>
            <input type="password" placeholder="Enter your password" required>
            <button type="submit" class="btn signin-btn">Logn In</button>
        </form>
        <div class="signup-container">
            <p>Don't have an account?</p>
            <a href="signup.html" class="signup-btn">Sign Up</a>
        </div>
    </div>
</body>
</html>
